img/01.png
img/02.png
img/03.png
img/aboutus.jpg
img/aboutus-2.jpg
img/arr_next.svg
img/arr_prev.svg
img/Award.png
img/azuny-62tzi.svg
img/company.jpg
img/company_2 - 複製.jpg
img/company_2.jpg
img/company_aboutus - 複製.jpg
img/company_aboutus.jpg
img/demo.jpg
img/demo-bg.jpg
img/footer-logo.png
img/footer-shape.png
img/full.jpg
img/givingback1.jpg
img/givingback2.jpg
img/logo.png
img/mydemo.jpg
img/S4-bg.JPG
img/section02.mp4
img/service_2d.jpg
img/service_3d.jpg
img/shap.png
img/Shape-2.png
img/showup-1.jpg
img/showup-2.jpg
img/toploop-01.jpg
img/toploop-02.jpg
img/toploop-03.jpg
img/toploop-04.jpg
img/toploop-05.jpg
img/toploop-06.jpg
img/about_us/About Us.jpg
img/about_us/Testimonial 1- Calvin.jpg
img/about_us/Testimonial 2- Christine.jpg
img/about_us/Testimonial 3- Vivian.jpg
img/about_us/Vision 1.jpg
img/about_us/Vision 2.jpg
img/about_us/Vision 可以自己截圖.mp4
img/about_us/Vision-1.jpg
img/about_us/Vision-2.jpg
img/about_us/giving_back/01.jpg
img/about_us/giving_back/02.jpg
img/about_us/giving_back/03.jpg
img/about_us/giving_back/04.jpg
img/about_us/giving_back/tree.jpg
img/about_us/Investor_logo/01.png
img/about_us/Investor_logo/02.png
img/about_us/Investor_logo/03.png
img/about_us/Investor_logo/04.png
img/about_us/Investor_logo/05.png
img/about_us/Logos/Activision動視.png
img/about_us/Logos/Bungie_logo_black.png
img/about_us/Logos/IGG.png
img/about_us/Logos/NCSOFT.png
img/about_us/Logos/Nexon.png
img/about_us/Logos/PerfectWorld.png
img/about_us/Logos/SEGA世嘉.png
img/about_us/Logos/米哈游.png
img/about_us/Logos/網易 英文.png
img/about_us/partner_logo/01.png
img/about_us/partner_logo/02.png
img/about_us/partner_logo/03.png
img/about_us/partner_logo/04.png
img/about_us/partner_logo/05.png
img/about_us/partner_logo/06.png
img/about_us/partner_logo/07.png
img/about_us/partner_logo/08.png
img/about_us/partner_logo/09.png
img/about_us/partner_logo/10.png
img/about_us/partner_logo/11.png
img/about_us/partner_logo/12.png
img/about_us/partner_logo/13.png
img/about_us/partner_logo/14.png
img/about_us/partner_logo/15.png
img/about_us/partner_logo/16.png
img/about_us/partner_logo/Epic.jpg
img/common/Facebook.png
img/common/IG.png
img/common/Twitter.png
img/common/YouTube.png
img/common/X/Facebook.jpg
img/common/X/Facebook.png
img/common/X/IG.jpg
img/common/X/IG.png
img/common/X/Twitter.jpg
img/common/X/Twitter.png
img/common/X/YouTube.jpg
img/common/X/YouTube.png
img/game_logo/ch/01.png
img/game_logo/ch/02.jpg
img/game_logo/ch/03.png
img/game_logo/ch/04.png
img/game_logo/ch/05.png
img/game_logo/ch/06.png
img/game_logo/ch/07.png
img/game_logo/ch/08.png
img/game_logo/ch/09.png
img/game_logo/ch/10.png
img/game_logo/ch/11.png
img/game_logo/ch/12.png
img/game_logo/ch/13.jpg
img/game_logo/ch/14.png
img/game_logo/ch/15.png
img/game_logo/ch/16.png
img/game_logo/ch/17.png
img/game_logo/ch/18.png
img/game_logo/ch/19.png
img/game_logo/ch_colored/01.png
img/game_logo/ch_colored/02.png
img/game_logo/ch_colored/03.png
img/game_logo/ch_colored/04.png
img/game_logo/ch_colored/05.png
img/game_logo/ch_colored/06.png
img/game_logo/ch_colored/07.png
img/game_logo/ch_colored/08.png
img/game_logo/ch_colored/09.png
img/game_logo/ch_colored/10.png
img/game_logo/ch_colored/11.png
img/game_logo/ch_colored/12.png
img/game_logo/ch_colored/13.png
img/game_logo/ch_colored/14.png
img/game_logo/ch_colored/15.png
img/game_logo/ch_colored/16.png
img/game_logo/ch_colored/17.jpg
img/game_logo/ch_colored/18.png
img/game_logo/ch_colored/19.png
img/game_logo/en/01.png
img/game_logo/en/02.jpg
img/game_logo/en/03.png
img/game_logo/en/04.png
img/game_logo/en/05.jpeg
img/game_logo/en/06.png
img/game_logo/en/07.png
img/game_logo/en/08.png
img/game_logo/en/09.png
img/game_logo/en/10.png
img/game_logo/en/11.png
img/game_logo/en/12.png
img/game_logo/en/13.jpg
img/game_logo/en/14.png
img/game_logo/en/15.png
img/game_logo/en/16.png
img/game_logo/en/17.png
img/game_logo/en/18.png
img/game_logo/en/19.png
img/game_logo/en_colored/01.png
img/game_logo/en_colored/02.png
img/game_logo/en_colored/03.png
img/game_logo/en_colored/04.png
img/game_logo/en_colored/05.png
img/game_logo/en_colored/06.jpg
img/game_logo/en_colored/07.png
img/game_logo/en_colored/08.png
img/game_logo/en_colored/09.png
img/game_logo/en_colored/10.png
img/game_logo/en_colored/11.png
img/game_logo/en_colored/12.png
img/game_logo/en_colored/13.png
img/game_logo/en_colored/14.png
img/game_logo/en_colored/15.png
img/game_logo/en_colored/16.png
img/game_logo/en_colored/17.jpg
img/game_logo/en_colored/18.png
img/game_logo/en_colored/19.png
img/GameVisual/Aion/01.jpg
img/GameVisual/Aion/02.jpg
img/GameVisual/Aion/03.jpg
img/GameVisual/Aion/04.jpg
img/GameVisual/Aion/05.jpg
img/GameVisual/BladeSoul/01.jpg
img/GameVisual/BladeSoul/02.jpg
img/GameVisual/BladeSoul/03.jpg
img/GameVisual/BladeSoul/04.jpg
img/GameVisual/CallofDutyOnline/01.jpg
img/GameVisual/CallofDutyOnline/02.jpg
img/GameVisual/CallofDutyOnline/03.jpg
img/GameVisual/DarkAvenger3/01.jpg
img/GameVisual/DarkAvenger3/02.jpg
img/GameVisual/DarkAvenger3/03.jpg
img/GameVisual/DarkAvenger3/04.jpg
img/GameVisual/Destiny2/01.jpg
img/GameVisual/Destiny2/01.png
img/GameVisual/Destiny2/02.jpg
img/GameVisual/Destiny2/03.jpg
img/GameVisual/Destiny2/04.jpg
img/GameVisual/Destiny2/05.jpg
img/GameVisual/Destiny2/06.jpg
img/GameVisual/Destiny2/project/01.jpg
img/GameVisual/Destiny2/project/02.jpg
img/GameVisual/DragonRaja/01.jpg
img/GameVisual/DragonRaja/02.jpg
img/GameVisual/DragonRaja/03.jpg
img/GameVisual/DragonRaja/04.jpg
img/GameVisual/DungeonFighterOnline/01.jpg
img/GameVisual/DungeonFighterOnline/02.jpg
img/GameVisual/DungeonFighterOnline/03.jpg
img/GameVisual/DungeonFighterOnline/04.jpg
img/GameVisual/DungeonFighterOnline/05.jpg
img/GameVisual/FF14/01.png
img/GameVisual/FF14/02.png
img/GameVisual/FF14/03.png
img/GameVisual/FF14/04.png
img/GameVisual/FF14/05.png
img/GameVisual/JX3/01.jpg
img/GameVisual/JX3/02.jpg
img/GameVisual/JX3/03.jpg
img/GameVisual/JX3/04.jpg
img/GameVisual/JX3/05.jpg
img/GameVisual/LifeAfter/01.jpg
img/GameVisual/LifeAfter/02.jpg
img/GameVisual/LifeAfter/03.jpg
img/GameVisual/LifeAfter/project/01.jpg
img/GameVisual/LifeAfter/project/02.jpg
img/GameVisual/LifeAfter/project/03.jpg
img/GameVisual/LifeAfter/project/04.jpg
img/GameVisual/LifeAfter/project/05.jpg
img/GameVisual/LifeAfter/project/06.jpg
img/GameVisual/LifeAfter/project/07.jpg
img/GameVisual/Lineage2M/01.jpg
img/GameVisual/Lineage2M/02.jpg
img/GameVisual/Lineage2M/03.jpg
img/GameVisual/Lineage2M/04.jpg
img/GameVisual/Lineage2M/05.jpg
img/GameVisual/Lineage2M/06.jpg
img/GameVisual/Lineage2M/project/01.jpg
img/GameVisual/Lineage2M/project/02.jpg
img/GameVisual/Lineage2M/project/03.jpg
img/GameVisual/QQ飛車/01.jpg
img/GameVisual/QQ飛車/02.jpg
img/GameVisual/QQ飛車/03.jpg
img/GameVisual/QQ飛車/04.jpg
img/GameVisual/QQ飛車/05.jpg
img/GameVisual/Vindictus/01.jpg
img/GameVisual/Vindictus/02.jpg
img/GameVisual/Vindictus/03.jpg
img/GameVisual/Vindictus/04.jpg
img/GameVisual/Vindictus/05.jpg
img/GameVisual/Vindictus/06.jpg
img/GameVisual/犬夜叉/01.jpg
img/GameVisual/犬夜叉/02.jpg
img/GameVisual/犬夜叉/03.jpg
img/GameVisual/犬夜叉/04.jpg
img/GameVisual/犬夜叉/project/01.jpg
img/GameVisual/犬夜叉/project/02.jpg
img/GameVisual/王者榮耀/01.jpg
img/GameVisual/王者榮耀/02.jpg
img/GameVisual/王者榮耀/03.jpg
img/GameVisual/王者榮耀/04.jpg
img/GameVisual/王者榮耀/05.jpg
img/GameVisual/王者榮耀/06.jpg
img/GameVisual/王者榮耀/07.jpg
img/GameVisual/王者榮耀/08.jpg
img/GameVisual/百聞牌/01.jpg
img/GameVisual/百聞牌/02.jpg
img/GameVisual/百聞牌/03.jpg
img/GameVisual/百聞牌/04.jpg
img/GameVisual/百聞牌/05.jpg
img/GameVisual/崩壞3/01.jpg
img/GameVisual/崩壞3/02.jpg
img/GameVisual/崩壞3/03.png
img/GameVisual/崩壞3/04.png
img/GameVisual/第五人格/01.jpg
img/GameVisual/第五人格/02.jpg
img/GameVisual/第五人格/03.jpg
img/GameVisual/第五人格/04.jpg
img/GameVisual/聖鬥士星矢/01.png
img/GameVisual/聖鬥士星矢/02.jpg
img/GameVisual/聖鬥士星矢/03.jpg
img/GameVisual/聖鬥士星矢/04.jpg
img/GameVisual/聖鬥士星矢/05.jpg
img/GameVisual/聖鬥士星矢/06.jpg
img/GameVisual/聖鬥士星矢/07.jpg
img/GameVisual/聖鬥士星矢/08.jpg
img/homepage/nb_01.jpg
img/homepage/banner/01.png
img/homepage/banner/02.png
img/homepage/banner/03.png
img/homepage/banner/04.png
img/homepage/banner/05.png
img/homepage/banner/06.png
img/logo/cn/01.png
img/logo/cn/02.png
img/logo/cn/03.png
img/logo/cn/04.png
img/logo/cn/05.png
img/logo/cn/06.png
img/logo/cn/07.png
img/logo/cn/08.jpg
img/logo/cn/09.png
img/logo/cn/10.png
img/logo/cn/11-1.png
img/logo/cn/11-2.png
img/logo/cn/11-3.png
img/logo/cn/12.png
img/logo/cn/第五人格 (1).jpg
img/logo/cn/第五人格 (2).png
img/logo/cn/第五人格 (3).png
img/logo/en/01.png
img/logo/en/01black.png
img/logo/en/02.png
img/logo/en/02_m.png
img/logo/jp/01.png
img/logo/jp/最终幻想XIV2.0重生之境_EFV.jpg
img/logo/jp/最终幻想XIV3.0苍穹的禁城_EFV.jpg
img/logo/kr/01.png
img/logo/kr/02.png
img/logo/kr/03.png
img/logo/kr/04.png
img/logo/kr/05.png
img/logo/kr/王者荣耀韩服logo.png
img/news/01.jpg
img/news/02.jpg
img/news/03.jpg
img/projects/according/en/01.jpg
img/projects/according/en/02.jpg
img/projects/according/en/03.jpg
img/projects/according/en/04.jpg
img/projects/according/en/05.jpg
img/projects/according/jp/01.jpg
img/projects/according/jp/02.jpg
img/projects/according/jp/03.jpg
img/projects/according/jp/04.png
img/projects/according/jp/05.jpg
img/projects/according/kr/01.jpg
img/projects/according/kr/02.jpg
img/projects/according/kr/03.jpg
img/projects/according/kr/04.jpg
img/projects/according/kr/05.jpg
img/projects/according/tc/01.jpg
img/projects/according/tc/02.jpg
img/projects/according/tc/03.jpg
img/projects/according/tc/-03.jpg
img/projects/according/tc/04.jpg
img/projects/according/tc/05.jpg
img/projects/Aion/01.jpg
img/projects/Aion/02.jpg
img/projects/Aion/03.jpg
img/projects/Aion/04.jpg
img/projects/Aion/05.jpg
img/projects/Aion/06.jpg
img/projects/Aion/07.jpg
img/projects/Call_of_Duty_Online/01.jpg
img/projects/Destiny_2/01.jpg
img/projects/Destiny_2/02.jpg
img/projects/Destiny_2/03.jpg
img/projects/Final_Fantasy_XIV/01.jpg
img/projects/Final_Fantasy_XIV/02.jpg
img/projects/Final_Fantasy_XIV/03.jpg
img/projects/Final_Fantasy_XIV/04.jpg
img/projects/Final_Fantasy_XIV/06.jpg
img/projects/Final_Fantasy_XIV/08.jpg
img/projects/Honor_of_Kings/01.jpg
img/projects/Honor_of_Kings/02.jpg
img/projects/Honor_of_Kings/03.jpg
img/projects/Honor_of_Kings/04.jpg
img/projects/Honor_of_Kings/05.jpg
img/projects/Honor_of_Kings/06.jpg
img/projects/Honor_of_Kings/07.jpg
img/projects/Honor_of_Kings/08.jpg
img/services/fullprojects.png
img/services/Thumbnail.png
img/services/work_with_us - 複製.jpg
img/services/work_with_us.jpg
img/services/2D/01.jpg
img/services/2D/01_for_paroller.jpg
img/services/2D/02.jpg
img/services/2D/03.jpg
img/services/2D/04.jpg
img/services/2D/05.jpg
img/services/2D/06.jpg
img/services/2D/07.jpg
img/services/2D/08.jpg
img/services/2D/Adjusted.jpg
img/services/2D/thumbnail/1.jpg
img/services/2D/thumbnail/2D场景原画_设计01-1.jpg
img/services/2D/thumbnail/2D场景原画_设计02-1.jpg
img/services/2D/thumbnail/2D场景原画_设计04-1.jpg
img/services/2D/thumbnail/2D场景原画_设计08-1.jpg
img/services/2D/thumbnail/2D场景原画_科幻类_自研_近未来风格5-1.jpg
img/services/2D/thumbnail/2D场景原画_科幻类_自研_近未来风格6-1.jpg
img/services/2D/thumbnail/36fbda2819a908ee60c527bb81e1f7a-1.jpg
img/services/3D/01.jpg
img/services/3D/02.jpg
img/services/3D/03.jpg
img/services/3D/04.jpg
img/services/3D/05.jpg
img/services/3D/06.jpg
img/services/3D/07.jpg
img/services/3D/08.jpg
img/services/3D/09.jpg
img/services/3D/10.jpg
img/services/3D/11.jpg
img/services/3D/12.jpg
img/services/3D/13.jpg
img/services/3D/14.jpg
img/services/3D/15.jpg
img/services/3D/16.jpg
img/services/3D/17.jpg
img/services/3D/18.jpg
img/services/3D/19.jpg
img/services/3D/20.jpg
img/services/3D/thumbnail/01.jpg
img/services/3D/thumbnail/02.jpg
img/services/3D/thumbnail/03.jpg
img/services/3D/thumbnail/04.jpg
img/services/3D/thumbnail/05.jpg
img/services/3D/thumbnail/06.jpg
img/services/3D/thumbnail/07.jpg
img/services/3D/thumbnail/08.jpg
img/services/3D/thumbnail/09.jpg
img/services/3D/thumbnail/10.jpg
img/services/3D/thumbnail/11.jpg
img/services/3D/thumbnail/12.jpg
img/services/3D/thumbnail/13.jpg
img/services/3D/thumbnail/14.jpg
img/services/3D/thumbnail/15.jpg
img/services/3D/thumbnail/16.jpg
img/services/3D/thumbnail/17.jpg
img/services/3D/thumbnail/18.jpg
img/services/3D/thumbnail/19.jpg
img/services/3D/thumbnail/20.jpg
img/services/according/en/01.jpg
img/services/according/en/02.jpg
img/services/according/en/03.jpg
img/services/according/en/04.jpg
img/services/according/en/05.jpg
img/services/according/jp/01.jpg
img/services/according/jp/02.jpg
img/services/according/jp/03.jpg
img/services/according/jp/04.png
img/services/according/jp/05.jpg
img/services/according/kr/01.jpg
img/services/according/kr/02.jpg
img/services/according/kr/03.jpg
img/services/according/kr/04.jpg
img/services/according/kr/05.jpg
img/services/according/tc/01.jpg
img/services/according/tc/02.jpg
img/services/according/tc/03.jpg
img/services/according/tc/04.jpg
img/services/according/tc/05.jpg
img/services/Case Studies/Aion/01.jpg
img/services/Case Studies/Aion/02.jpg
img/services/Case Studies/Aion/03.jpg
img/services/Case Studies/Aion/04.jpg
img/services/Case Studies/Aion/05.jpg
img/services/Case Studies/Aion/06.jpg
img/services/Case Studies/Aion/07.jpg
img/services/Case Studies/Call_of_Duty_Online/01.jpg
img/services/Case Studies/Destiny_2/01.jpg
img/services/Case Studies/Destiny_2/02.jpg
img/services/Case Studies/Destiny_2/03.jpg
img/services/Case Studies/Final_Fantasy_XIV/01.jpg
img/services/Case Studies/Final_Fantasy_XIV/02.jpg
img/services/Case Studies/Honor_of_Kings/01.jpg
img/services/Case Studies/Honor_of_Kings/02.jpg
img/services/Case Studies/Honor_of_Kings/03.jpg
img/services/Case Studies/Honor_of_Kings/04.jpg
img/services/Case Studies/Honor_of_Kings/05.jpg
img/services/Case Studies/Honor_of_Kings/06.jpg
img/services/Case Studies/Honor_of_Kings/07.jpg
img/services/Case Studies/Honor_of_Kings/08.jpg
img/services/clients_logo/01.png
img/services/clients_logo/02.png
img/services/clients_logo/03.png
img/services/clients_logo/04.png
img/services/clients_logo/05.png
img/services/clients_logo/06.png
img/services/clients_logo/07.png
img/services/clients_logo/07_2.png
img/services/clients_logo/08.png
img/services/clients_logo/09.png
img/services/clients_logo/10.jpg
img/services/clients_logo/11.png
img/services/clients_logo/12.png
img/services/clients_logo/13.png
img/services/clients_logo/14.png
img/services/clients_logo/15.jfif
img/services/clients_logo/16.jpg
img/services/clients_logo/16.png
img/services/clients_logo/17.png
img/services/clients_logo/18.jpg
img/services/clients_logo/19.png
img/services/clients_logo/20.png
img/services/clients_logo/21.png
img/services/clients_logo/22.png
img/services/clients_logo/23.png
img/services/clients_logo/24.png
img/services/clients_logo/25.png
img/services/clients_logo/26.png
img/services/clients_logo/27.png
img/services/clients_logo/28.png
img/services/top/en/01.jpg
img/services/top/en/02.jpg
img/services/top/en/03.jpg
img/services/top/en/04.jpg
img/services/top/en/05.jpg
img/services/whyus_icon/001.png
img/services/whyus_icon/002.png
img/services/whyus_icon/003.png
img/services/whyus_icon/004.png
img/services/whyus_icon/005.png
img/services/whyus_icon/01.png
img/services/whyus_icon/02.png
img/services/whyus_icon/03.png
img/services/whyus_icon/04.png
img/services/whyus_icon/05.png
img/services/whyus_icon/新增資料夾/01.png
img/services/whyus_icon/新增資料夾/02.png
img/services/whyus_icon/新增資料夾/03.png
img/services/whyus_icon/新增資料夾/04.png
img/services/whyus_icon/新增資料夾/05.png
video/01.mp4
video/Display.mp4
